.topper {
  background-color: #020e28;
  padding: 6px 40px;
}
.topper p {
  color: #bcbcbc;
}

.btn {
  background: linear-gradient(to right, #e1b71d 0%, #2185de 100%);
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 18px;
  padding: 5px 5px;
  border-radius: 12px;
  /* text-color: #ffffff; */
}
.bannerImage img {
  /* width: 420px;
  height: 420px;
  padding-top: 40px;
  padding-right: 0px;
  padding-left: 60px;
  padding-bottom: 60px; */
}

.portfolio .slick-dots {
  display: flex;
  width: 20%;
  margin: auto;
}
.portfolio .slick-dots li {
  margin-top: 40px;
  list-style: none;
  border: 1px solid white;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-left: 15px;
  background: white;
}
.portfolio .slick-dots .slick-active {
  box-shadow: 4px 4px 10px gray;
}
.portfolio .slick-dots li button {
  border: none;
  background: none;
  opacity: 0;
}
.icon {
  padding: 5px;
}
.card img {
  /* height: 100px;
  width: 100px; */
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float Three columns side by side */
.column {
  float: left;
  width: 32%;
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 80px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
}
.sell {
  padding-top: 50px;
}
.sell p {
  font-size: 13px;
}
.top_brands {
  padding-left: 92px;
}
.part3 {
  background-image: url("images/bg1-copy.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.marketing{
	background-image: url('./images/bg2-copy.png');
}
.request-part{
	background-image: url('./images/bg2-copy.png');	
}